/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(228, 23, 23, 0.26);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

/* Estilos específicos para la sección de bocaditos */
#bocaditos {
    margin-top: 20px;
}

.producto {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 200px; /* Ajusta el ancho a 200px, puedes cambiarlo según lo que necesites */
    height: 150px; /* Ajusta la altura a 150px, puedes cambiarlo según lo que necesites */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    margin-bottom: 10px;
}
